{% load i18n %}
{% load translations %}
{% load permissions %}

<table class="table table-condensed history">
<thead>
<tr>
<th>{% trans "When" %}</th>
<th>{% trans "User" %}</th>
<th>{% trans "Action" %}</th>
<th>{% trans "Translation" %}</th>
<th></th>
</tr>
<tbody>
{% for c in last_changes %}
<tr class="{% cycle 'stripe-odd' 'stripe-even' as rowcolors %}">
<td> {{ c.timestamp|naturaltime }}</td>
<td>{{ c.get_user_display }}</td>
<td><a href="{{ c.get_absolute_url }}">{{ c.get_action_display }}</a></td>
<td><a href="{{ c.get_translation_url }}">{{ c.get_translation_display }}</a></td>
<td></td>
</tr>
{% if c.can_revert %}
<tr class="{{ rowcolors }}">
{% if c.old %}
<td colspan="4">{% format_translation c.target c.unit.translation.language diff=c.old %}</td>
{% else %}
<td colspan="4">{% format_translation c.target c.unit.translation.language %}</td>
{% endif %}
<td>
{% can_translate request.user c.unit as user_can_translate %}
{% if user_can_translate %}
<a class="btn btn-xs btn-default" href="{{ c.translation.get_translate_url}}?{% if search_url %}{{ search_url }}&amp;offset={{ offset }}&amp;{% endif %}checksum={{ c.unit.checksum }}&amp;revert={{ c.id }}" title="{% trans "Revert to this translation" %}">{% trans "Revert" %}</a>
{% endif %}
</td>
</tr>
{% elif c.show_content %}
<tr class="{{ rowcolors }}">
<td colspan="4">{% format_translation c.target c.unit.translation.language %}</td>
<td></td>
</tr>
{% elif c.show_source %}
<tr class="{{ rowcolors }}">
<td colspan="4">{% format_translation c.target c.project.source_language diff=c.old %}</td>
<td></td>
</tr>
{% elif c.target %}
<tr class="{{ rowcolors }}">
<td colspan="4"><pre>{{ c.target }}</td>
<td></td>
</tr>
{% endif %}
{% empty %}
<tr><td colspan="4" class="tablenotice">
{% trans "No matching activity has been found." %}
</td></tr>
{% endfor %}
</tbody>
</table>
